nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  height: 4rem;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

nav a {
  font-size: 1.2rem;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0.3rem 0.4rem;
}

.active-link {
  border-color: #f82ccc83;
}
